<header class="py-3 mb-4 bg-dark text-white border-bottom">
  <div class="container d-flex flex-wrap justify-content-center">
    <span class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none text-white fs-4">{{subhead}}</span>
  </div>
</header>

<main class="container mb-10">