<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="card mb-3" style="width: 100%;">
    <div class="row g-0">
      <div class="col-md-2 text-center center align-self-center">
        <a href="#"><img src="./assets/img/{{category.name}}-icon.png" class="topics-img"></a>
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <h5 class="card-title"><a href="/project/{{category.id}}">{{category.name}}</a></h5>
          <p class="card-text">{{category.description}}</p>
          <p class="card-text">
            <span class="badge bg-success">Top</span>
            <a href="#">
              <i class="badge bg-light text-dark">"How to calculate CS cpecificity" posted by ageekdev</i>
            </a>
            <small class="text-muted">Posted 2 months ago</small>
          </p>
          <p class="card-text"><span class="badge bg-primary">New</span> <i class="badge bg-light text-dark"><a
                href="#">"How to vertically center a div"</a> posted by <a href="#">slowpokie</a></i>
            <small class="text-muted">Posted 3 mins ago</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>