<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Study Blog</title>
  <!-- CSS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;600&family=Noto+Sans+SC:wght@300&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;500;600&display=swap"
    rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;500;600&family=Lato:wght@100;300;400;700&display=swap"
    rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600&family=Josefin+Sans:wght@100;300;400;500;600&family=Lato:wght@100;300;400;700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/stylesheet.css">
  <link rel="stylesheet" href="/assets/css/style.css">

</head>

<body>
  <nav class="navbar navbar-expand-lg py-2 bg-dark text-white border-bottom">
    <div class="container-fluid">
      {{!-- Navbar-Brand --}}
      <a class="navbar-brand link-light px-2"  href="/">
          <span class="material-icons">polymer</span> Study Blog
      </a>
      {{!-- Topics Button --}}
      <ul class="nav">
        <div class="dropdown m-auto">
          <button class="btn dropdown-toggle link-light nav-link nav-item" type="button" id="dropdownMenuButton1"
            data-bs-toggle="dropdown" aria-expanded="false">Topics</button>
          <ul class="dropdown-menu bg-dark" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item nav-link px-2" href="/categories/1">HTML/CSS</a></li>
            <li><a class="dropdown-item nav-link px-2" href="/categories/2">Javascript</a></li>
            <li><a class="dropdown-item nav-link px-2" href="/categories/3">Node.JS</a></li>
            <li><a class="dropdown-item nav-link px-2" href="/categories/4">MySQL</a></li>
          </ul>
        </div>
      </ul>
      {{!-- Hamburger button --}}
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="material-icons navbar-toggler-icon">menu</span>
      </button>
      
      <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo02">
        <ul class="navbar-nav text-white">
          <li class="nav-item m-auto">
            <a class="nav-link active" aria-current="page" href="/home">Home</a>
          </li>
          <li class="nav-item m-auto">
            <a class="nav-link" aria-current="page" href="/dashboard">Dashboard</a>
          </li>

          {{!-- Logged In Menu --}}
          <li class="nav-item m-auto loggedOut">
            <a class="nav-link" href="/post/create">Create Post</a>
          </li>
          <li class="nav-item m-auto loggedOut">
            <div class="dropdown m-auto">
              <button class="btn dropdown-toggle link-light" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown"
                aria-expanded="false"></button>
              <ul class="dropdown-menu bg-dark" aria-labelledby="dropdownMenuButton2">
                <li><a class="dropdown-item nav-link px-2" href="/myposts">Manage My Posts</a></li>
                <li><a id="logout" class="dropdown-item nav-link px-2" href="/home">Logout</a></li>
              </ul>
            </div>
          </li>
          {{!-- Logged Out Menu --}}
          <li class="nav-item m-auto loggedIn"><a href="/users/login" class="nav-link px-2">Login</a></li>
          <li class="nav-item m-auto loggedIn"><a href="/users/register" class="nav-link px-2">Register</a></li>
        </ul>
      </div>
    </div>
  </nav>
    
    {{{body}}}
  </main>

  <!-- Footer -->
  <footer class="footer">
    <div class="text-center">
      Made by <a href="http://www.github.com/armin-ch/">Armin</a>, <a href="http://www.github.com/bwclark90/">Brandon</a> and <a href="http://www.github.com/diaseu/">Dia</a>
    </div>
  </footer>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    document.getElementById('logout').addEventListener('click', event => {
        localStorage.removeItem('token')
        window.location = '/'
      })

      if(localStorage.getItem('token'))
      {
        $('.loggedIn').hide()
      }
      else { $('.loggedOut').hide()}

      axios.get('/api/validate/getusername/1',
          {
            headers: {
              'Authorization': `Bearer ${localStorage.getItem('token')}`
            }
          })
      .then(username=> { $('#dropdownMenuButton2').append(username.data) })
      .catch(err=> console.log(err))

      


  </script>
  
</body>
</html>