<header class="py-3 mb-4 bg-dark text-white border-bottom">
  <div class="container d-flex flex-wrap justify-content-center">
    <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none text-white">
      <span class="fs-4">Create Post</span>
    </a>
  </div>
</header>

<main class="container">
  <div id="createPost">
  <form>
    <div class="mb-3">
      <label for="title" class="form-label">Post Title</label>
      <input type="text" class="form-control" id="title">
    </div>
    <div class="mb-3">
      <label for="body" class="form-label">Post Body</label>
      <textarea class="form-control hidden" id="body" rows="9"></textarea>
    </div>
    <div class="mb-3">
    <select id="category_id" class="form-select" aria-label="Choose category">
      <option selected>Choose category:</option>
      <option value="1">HTML/CSS</option>
      <option value="2">Javascript</option>
      <option value="3">Node.JS</option>
      <option value="4">MySQL</option>
    </select>
    </div>
    <button id="submit" type="submit" class="btn btn-primary">Create Post</button>
  </form>
  </div>

  


<script src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  $('#submit').click(event => {
    event.preventDefault()
    axios.post('/posts', {
      body: document.getElementById('body').value,
      title: document.getElementById('title').value,
      category_id: document.getElementById('category_id').value
    }, {
      headers: {
        'Authorization': `Bearer ${localStorage.getItem('token')}`
      }
    })
    .then(res=>{
      console.log('post created')
      document.getElementById('body').value = ''
      document.getElementById('title').value = ''
      window.location = '/myposts'
      })
    .catch(err => window.location = '/users/login')
  })
</script>