<main class="container">
  <div class="row1">
    <div class="col1">
      <h1 id="intro"><b>Programming made easy.</b></h1>
      <h1 id="intro"><b>Study smarter.</b></h1>
      <h1 id="intro"><b>Google less.</b></h1>

      <div class="container">
        <div class="justify-content-center align-items-center">
          <div class="col-md-8">
            <div class="search"> <i class="fa fa-search"></i> <input type="text" class="form-control"
                placeholder="Search Topics..."> <button class="btn btn-secondary">Search</button> </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col2">
    </div>
  </div>

  <div class="row2">
    <div class="col1-2">
      <h2>Study Blog</h2>
      <p>A blog for developers. Learn, create, and help others through a connected community of likeminded web
        developers. Browse through study material others have posted or show off skills you have already
        mastered.Studying is made easy through top filtered posts on CSS, HTML5, and JavaScript.</p>
    </div>
    <div class="col2-2"></div>
  </div>
  <div class="row3">
    <div class="col1-3">
      <div class="card" style="width: 18rem;">
        <img src="./assets/img/study4.jpg" class="card-img-top" alt="categories">
        <div class="card-body">
          <h5 class="card-title">Categories</h5>
          <p class="card-text"> Choose from CSS, HTML5, and Javascript.
          </p>
          <a href="/categories" class="btn btn-secondary">Categories</a>
        </div>
      </div>
    </div>
    <div class="col2-3">
      <div class="card" style="width: 18rem;">
        <img src="./assets/img/study3.jpg" class="card-img-top" alt="popular">
        <div class="card-body">
          <h5 class="card-title">Popular</h5>
          <p class="card-text">View popular posts that have helped people just like you looking for web development
            help.
          </p>
          <a href="/dashboard" class="btn btn-secondary">Popular</a>
        </div>
      </div>
    </div>
    <div class="col3-3">
      <div class="card" style="width: 18rem;">
        <img src="./assets/img/study2.jpg" class="card-img-top" alt="create">
        <div class="card-body">
          <h5 class="card-title">Create</h5>
          <p class="card-text">Join our community and create a post to help others study material that you've mastered!
          </p>
          <a href="/post/create" class="btn btn-secondary">Create</a>
        </div>
      </div>
    </div>
  </div>