<header class="py-3 mb-4 bg-dark text-white border-bottom">
  <section class="container d-flex flex-wrap justify-content-center">
    <span class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none text-white fs-4">Your Posts</span>
  </section>
</header>

<main class="container">
<section id="myposts" class="container mb-3"></section>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  axios.get('/api/validate/users/1',
      {
        headers: {
          'Authorization': `Bearer ${localStorage.getItem('token')}`
        }
      })
  .then(res=>{
    axios.get(`/api/users/posts/${res.data}`)
      .then(posts => {
        for (let i = 0; i < posts.data.length; i++) {
          let elem = $(`
        <div class="card mb-3" style="width: 100%;">
          <div class="row g-0">
            <div class="col-md-1 text-center center align-self-center">
              
          <p class="d-block">${posts.data[i].score}</p>
          
            </div>
    <div class="col-md-11">
      <div class="card-body">
          <div class="row">
            <div class="col-md-10">
              <h5 class="card-title"><a href="/posts/${posts.data[i].id}">${posts.data[i].title}</a></h5>
            </div>
            <div class="col-md-2 text-center">
              <a href="/editpost/${posts.data[i].id}" class="btn btn-secondary link-light text-light btn-sm" role="button"><span class="material-icons">mode_edit</span></a>
              <button onclick="deletePost(${posts.data[i].id}, ${res.data})" class="btn btn-danger delete btn-sm  "><span class="material-icons">delete</span></button>
            </div>


          <p id="${i}" class="card-text">${posts.data[i].body.slice(0, 250)} </p>
        
          <small class="text-muted">created on ${posts.data[i].updatedAt.slice(0, 10)}</small>
        
        </div>
        </p>
      </div>
    </div>
  </div>
</div>
      `)
          $('#myposts').append(elem)
          if (posts.data[i].body.length > 255){
          $(`#${i}`).append('...')
          }
        }
      })
  })
  function deletePost(pid, uid) {
        axios.delete(`/posts/${pid}`, {
          headers: {
            'Authorization': `Bearer ${localStorage.getItem('token')}`
          }
        })
          .then(res2 => {
            console.log('post deleted')
            location.reload()
          })
          .catch(err => console.log(err))
      }
</script>
