/* home page */

.container {
  padding-top: 20px;
}

#row1 {
  display: flex;
  background-image: url("../img/background2.jpg");
  background-color: aqua;
  max-width: 100%;
  background-position: center;
}
#introcol {
  color: rgba(255, 255, 254, 0.815);
  text-align: left;
  padding-top: 40px;
  font-family: 'Permanent Marker', cursive;
}
#row2 {
  dislay: flex;
  height: 200px;
  font-size: 1.3em;
  font-family: 'Caveat', cursive;
  font-family: 'Noto Sans SC', sans-serif;
}

#chevroncol {
  background-color: rgb(58, 55, 55);
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
}
#infocol {
  text-align: center;
}
#row3 {
  display: flex;
  height: 400px;
  background: white;
  gap: 1em;
}

/* category page */
.card-body a {
  color: #666;
}

.topics-icon {
  font-size: 5rem;
}

.topics-img {
  max-width: 75px;
}
