/* home page */

.container {
  padding-top: 20px;
}

.row1 {
  display: grid;
  grid-template-columns: 50% 50%;
  background-image: url("../layouts/assets/images/background2.jpg");
  background-color: aqua;
  max-width: 100%;
  height: 450px;
  background-size: cover;
  background-position: center;
}

.col1 {
  color: rgba(255, 255, 254, 0.815);
  text-align: left;
  padding-top: 40px;
  padding-left: 20px;
  font-family: 'Permanent Marker', cursive;
}

.row2 {
  display: grid;
  grid-template-columns: 60% 40%;
  height: 200px;
  font-size: 1.3em;
  font-family: 'Caveat', cursive;
  font-family: 'Noto Sans SC', sans-serif;
}

.col2-2 {
  background-color: rgb(58, 55, 55);
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
}

.col1-2 {
  text-align: center;
}

.row3 {
  display: grid;
  grid-template-columns: 33.333% 33.333% 33.333%;
  height: 400px;
  background: white;
  gap: 1em;
  font-family: 'Caveat', cursive;
  font-family: 'Noto Sans SC', sans-serif;
}

/* search */

.height {
  height: 100vh
}

.search {
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, .1)
}

.search input {
  height: 60px;
  text-indent: 25px;
  border: 2px solid #d6d4d4
}

.search button {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 50px;
  width: 110px;
  background: gray;
  border: solid 1px black;
}

/* category page */